body {
    font-family: "proxima-nova", Helvetica, Arial, sans-serif;
}

/* HEADER */
div#header {
  background-color: #333333;
  background-image: url('../images/main-image.png');
  background-size: cover;
  background-position: center center;
  margin: 0;
  height: 500px;
}
  header h1 {
    position: relative;
    margin-top: 30px;
    margin-left: 170px;
    display: inline;
  }
  header nav {
    display: inline;
  }
  header nav ul {
    float: right;
    list-style-type: none;
    margin-top: 40px;
  }
    header nav ul li {
      display: inline;
      padding:0px 110px;
    }
  header nav ul li a {
        color: #fff;
        font-size: 24px;
        text-decoration: none;
        font-weight: 600;
    }
  header nav ul li a:hover {
    color: #d92129;
    }

/* MARKETING */
div#marketing {
    text-align: center;
}
  div#marketing h1 {
    font-weight: 700;
    color:#fff;
    font-size: 72px;
  }
  div#marketing h2 {
    font-weight: 600;
    color:#fff;
    font-size: 30px;
  }

/* FEATURES */
div#features {
  text-align: center;
}
  div#features h2 {
   font-weight: 600;
   color:#333333;
   font-size: 20px; 
  }
  div#features p {
   font-weight: 400;
   color:#333333;
   font-size: 16px; 
  }

/* WHY_JOTTLY */
div#why_jottly h2 {
  text-align: center;
  font-weight: 600;
  color:#333333;
  font-size: 30px; 
}
div#why_jottly p {
  font-weight: 400;
  color:#333333;
  font-size: 20px; 
}

/* JOIN_US */
div#join_us {
  text-align: center;
}
  div#join_us h2 {
    text-align: center;
    font-weight: 600;
    color:#333333;
    font-size: 36px; 
  }
  div#join_us h3 {
    text-align: center;
    font-weight: 400;
    color:#333333;
    font-size: 24px; 
  }

/* FOOTER */
div#footer {
  background-color: #333333;
}

  div#footer ul {
    list-style-type: none;
  }
  div#footer ul li {
    display: inline;
  }
  div#footer a{
    float: center;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    font-weight: 400;
  }
  div# footer a:hover {
    color: #d92129;
    }
  div#footer p {
    float: right;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
  }
